extends layout

block navItems
  +link('/browse', 'Home')
  +link('/browse/items', 'All items')
  +link('/browse/brands', 'All brands')
  +link('/browse/categories', 'All categories')
  li(class='nav-item w-50 p-1')
    hr(class="text-white")
  +link('/browse/brand/create', 'Create new brand')
  +link('/browse/category/create', 'Create new category')
  +link('/browse/item/create', 'Create new item')

block content
  h1= title

  if categoryItems.length
    p #[strong Delete the following items before attempting to delete this category]

    div(class='ml-2 mt-2')
    
      h4 Items

      dl
      each item in categoryItems
        dt
          a(href=item.url) #{item.name}
        dd #{item.description}
  else
    p Do you really want to delete this Category?

    form(method='POST' action='')
      div(class='my-3')
        label.form-label(class='invisible' for='categoryid') Category ID:
        input#categoryid.form-control(type='hidden' name='categoryid' required='true' value=category._id)

      button.btn.btn-primary(type='submit') Delete
