extends ../layout

block navItemsGroupOne
  +link('/browse/items', 'All items', true)
  +link('/browse/brands', 'All brands')
  +link('/browse/categories', 'All categories')   

block content  
  h1(class="fw-light") #{title} (#[strong #{itemCount}])

  ul(class="p-3")
    each item in listItems  
      li(class="list-unstyled")  
        a(href=item.url) #{item.name}
        |  (#[strong #{item.brand.name}]) 
        | 
        p(class="w-90") #{item.description}
    else
      li There are no items.
